/* html { margin-left: calc(100vw - 100%); } */

body {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
} 

p a {
    color:blue
}

.background {
    padding: 0.7em;
    padding-top: 69.68px;
    margin: 0em 7%;
    background: rgba(245,245,245, 0.65);
}

#page_title {
    margin:0px;
}

.figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
img {
    margin: 1em;
}

.figure p {
    text-align: center;
    font-size: 1em;
}

.egCode {
    font-family: Consolas, 'Courier New', monospace;
}

.eg {
    font-family: Consolas, 'Courier New', monospace;
    color: magenta;
}

.egVar {
    color: blue;
}

.egFunc {
    color: brown;
}

.egComment {
    color: rgb(80, 78, 78);
}

.noBullet {
    list-style: none;
}

#DOM {
    height: 40em;
    width: 40em;
}

#mindset {
    max-width: 40em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}