* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 320px) {
  .entries {
    height: 10em;
    width: 15em;
    margin: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .entries {
    height: 10em;
    width: 15em;
    margin: 10px;
  }
}


@media only screen and (max-width: 1200px) {
  .entries {
    height: 20em;
    width: 30em;
    margin: 10px;
  }
}


body {
    background: url(../images/background-image.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
    padding:0px;
    font-family: 'Nunito', sans-serif;
}

a {
    color: inherit; 
} 

.container {
    text-align: center; 
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}

#page_title {
    font-family: 'Lobster', cursive;
    font-size: 3.25em;
}

#date {
    font-size: 0.7em;
    text-align: center;
    position: relative;
    bottom: 3em;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align-last: center;
}

.blogs p {
    margin:0px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}

.entries {
    height: 20em;
    width: 30em;
    margin: 20px;
}

.blog_nav {
    display:flex;
    justify-content: center;
}

.blog_nav h3 {
    display:inline-block;
    margin: 1.5em;
    text-align: center;
}

a:hover {
    text-shadow: 2px 2px 5px grey;
}